---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Not Found">
    <main class="px-3 text-stone-100  leading-relaxed  max-w-screen-lg mx-auto text-center">
        <div class="text-xl">
            <p>I looked everywhere.</p>
            <p>Literally everywhere.</p>
            <p>I can't find what you want.</p>
            <p>404 - Not Found.</p>
            <p>Sorry.</p>
            <p class="text-2xl">🤷</p>
        </div>
    </main>
</Layout>
