---
---
<footer class="px-3 pt-3 pb-10 mt-16 max-w-screen-lg mx-auto rounded-lg md:flex md:items-center md:justify-between">
	<span class="text-xs text-white sm:text-center">
		<slot/>
	</span>
</footer>
