---
import HomeIcon from "../icons/Home.astro";
import MenubarsIcon from "../icons/MenubarsIcon.astro"
import DarkModeSwitch from "../icons/DarkModeSwitch.astro"
---
<div class="max-w-full">
      <nav class="text-white relative flex flex-wrap items-center justify-between px-2 bg-minsk-800 border-b-2 border-minsk-600 mb-3 drop-shadow-2xl">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
          <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
            <a
              class="text-xl font-bold leading-relaxed inline-block mr-4 py-3 whitespace-nowrap uppercase text-white drop-shadow-sm hover:opacity-75"
              href="/"
            >
              Jouni Lammi
            </a>
        </div>
      </nav>
    </div>
